<footer>
    <div class="container">
        <div class="footer-content">
            <div>
                <p>&copy; {% assign current_year = site.time | date: "%Y" %}{{ current_year }} Mostafa Nasser. All rights reserved.</p>
            </div>
            <div class="social">
                <a href="https://github.com/mostafanasser9" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/mostafanasser04/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href="mailto:mostafa.nasser@example.com"><i class="fas fa-envelope"></i> Email</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>